

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.header_inner{
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header_item{
    list-style: none;
}
.burger{
    display: none;
}