.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 220px;
}

.products_block {
  padding-left: 30px;
  position: relative;
}

.products_block-sale {
  position: absolute;
  width: 85px;
  height: 35px;
  background: #9B0000;
  top: 40px;
}

.products_block-h3 {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 900;
  line-height: 96.4%;
  /* or 19px */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.products_heart-p {
  text-align: center;
}

.img_heart {
  cursor: pointer;
}

.products_box {
  padding: 0 30px;
}

.products__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_title {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 96.4%;
  /* or 17px */
  color: #031412;
}

.products_box-title {
  font-family: 'Lighthaus';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 105.9%;
  margin-top: 0px;
  /* or 42px */
  color: #031412;
  margin-bottom: 40px;
}

.products_dog {
  display: -webkit-box;
}

.products_vector {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 132.4%;
  margin-bottom: 35px;
  /* or 21px */
  color: #4B7159;
}

.products_articul {
  padding: 0 350px;
}

.products_line {
  border: 1px solid #E6E8E7;
  margin-bottom: 0;
  width: 685px;
}

.products_p--h3 {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 132.4%;
  /* or 21px */
  color: #031412;
}

.products_title--h3 {
  margin-bottom: 35px;
}

.products_title--h2 {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 96.4%;
  margin-top: 45px;
  /* identical to box height, or 34px */
  color: #031412;
}

._grn {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 96.4%;
  padding-left: 230px;
  /* or 43px */
  color: #9B0000;
}

.skidka {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 96.4%;
  padding-left: 30px;
  margin-top: 45px;
  /* or 24px */
  color: #031412;
  opacity: 0.3;
}

.products_dog--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.solid {
  opacity: 0.3;
  border: 1px solid #031412;
  -webkit-transform: rotate(12.92deg);
          transform: rotate(12.92deg);
  margin-top: -10px;
}

.line_sun {
  border: 1px solid #E6E8E7;
  width: 210px;
  height: 50px;
}

.products_btn {
  width: 450px;
  height: 50px;
  background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
  margin-left: 30px;
  cursor: pointer;
}

.products_lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.img {
  padding-left: 50px;
}

.img_twitter {
  padding-left: 50px;
  cursor: pointer;
}

.img_facebook {
  padding-left: 18px;
  cursor: pointer;
}

.img_instagram {
  padding-left: 18px;
  cursor: pointer;
}

.img_swiper {
  margin-bottom: 18px;
}

.kupit {
  font-style: normal;
  font-weight: 800;
  line-height: 96.4%;
  /* or 17px */
  text-align: center;
  color: #FFFFFF;
}

.number {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  text-align: left;
  padding: 0;
  width: 140px;
  border: 1px solid #ddd;
  display: inline-block;
}

.number-minus, .number-plus {
  position: absolute;
  top: 0;
  width: 40px;
  height: 32px;
  line-height: 32px;
  display: block;
  background: #faf4f2;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  font-family: arial;
  color: #3e1e02;
  text-decoration: none;
}

.number-minus {
  left: 0;
  border-right: 1px solid #ddd;
}

.number-plus {
  right: 0;
  border-left: 1px solid #ddd;
}

.number-minus:hover, .number-plus:hover {
  background: #fffcfb;
}

.number-minus:active, .number-plus:active {
  background: #e8e4e2;
}

.number-text {
  display: inline-block;
  font-size: 14px;
  color: #000;
  line-height: 32px;
  height: 32px;
  padding: 0;
  margin: 0 0 0 42px;
  background: #fff;
  outline: none;
  border: none;
  width: 57px;
  text-align: center;
}

.products__swiper {
  height: 620px;
}
/*# sourceMappingURL=index.css.map */